<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container>
        <types>
          <type type="InterfacesLibrary.ICalculator, InterfacesLibrary" mapTo="CalculatorLibrary.Calculator, CalculatorLibrary"/>
          <type type="InterfacesLibrary.IInputService, InterfacesLibrary" mapTo="InputOutputLibrary.InputService, InputOutputLibrary"/>
          <type type="InterfacesLibrary.IOutputService, InterfacesLibrary" mapTo="InputOutputLibrary.ConsoleOutputService, InputOutputLibrary"/>
          <type type="InterfacesLibrary.IInputParserService, InterfacesLibrary" mapTo="ParsingLibrary.CommandInputParserService, ParsingLibrary"/>
          <type type="InterfacesLibrary.ICalculatorReplLoop, InterfacesLibrary" mapTo="CalculatorLibrary.CalculatorReplLoop, CalculatorLibrary"/>
        </types>
      </container>
    </containers>
  </unity>
</configuration>